

.letter p{
	width:400px;
	float:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:60px;
	line-height:1.5;
	font-size:120%;
	padding-bottom:100px;
	font-family: "Chalkboard SE", Light, Regular, Bold;
    color:white;
    
}

.letter h2{
 	text-align: center;	
 	margin-left:auto;
 	margin-right:auto;
 	padding-top:100px;
 	padding-bottom:60px;
 	position: relative;
 	right:140px;
 	font-family: "Chalkboard SE", Light, Regular, Bold;
    color:white;
 	
}


	
ul {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom:0px;
	list-style-type: none;
	padding-top: 0px;
	overflow: hidden;
	background-color:rgb(0, 0, 0);
	border-radius: 10px 10px 10px 10px;

}

li {
	float:left;
	padding-left:140px;
	font-family: "Chalkboard SE", Light, Regular, Bold;

}

li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration: none;
	border-radius:15px 15px 15px 15px;
	
}

li a:hover {
	background-color:rgb(140,0,0);
	border-radius:15px 15px 15px 15px;
	transition: .7s;
	

}

li a:active{
	background-color:rgb(140,0,0);
	border-radius:15px 15px 15px 15px;
	font:black; 
	
}

.commands ul{
	display: inline;
	float:center;
	font-family: "Chalkboard SE", Light, Regular, Bold;
	margin-left:auto;
	margin-right:auto;
	background-color:none;
}

.commands li{
	color:white;
	font-family: "Chalkboard SE", Light, Regular, Bold;
}

